/* body {
  font-family: 'Kanit', sans-serif !important;
  font-size: 16px;
}

.kk {
  margin-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.ll {
  margin-left: 2rem !important;
}
.tall{
  height: 320px !important;
}
.tam{
  height: 48px !important;
}

*/

.th-tables {
text-align: center ;
font-size: 8.5px !important;
width: 11%;
padding: 3px !important
}


.td-tables {
white-space: pre-wrap;
text-align: left;
padding: 0px !important;
font-size: 8.5px !important;
line-height: 0.7 !important;
} 

.xd{
  font-size: 8.5px !important;
}

.p2{
  margin-bottom: 5px !important;
}

.scrollable-div {
height: 44vh; 
overflow: auto; 
} 

.text{
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.card-body2 {
  flex: 1 1 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--bs-card-color);
}

.prices{
  margin-left: 15% !important;
}